@model IEnumerable<FabricaDeliciasMVC.Models.Pagamento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    <p>
        @Html.ActionLink("Cadastrar Pagamento", "Create", null, new { @class = "waves-effect waves-light btn" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Editar
            </th>
            <th>
                Excluir
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a class="btn-floating waves-effect waves-light" href="@Url.Action("Edit", "Pagamento", new { id = item.IdPagamento })">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
                <td>
                    <a id="btnExcluirReponsavel" href="#modal" class="btn-floating waves-effect waves-light btn modal-trigger" data-id="@item.IdPagamento">
                        <i class="material-icons">delete</i>
                    </a>
                </td>
            </tr>
        }

    </table>
}