@model FabricaDeliciasMVC.Models.Cliente

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row ">
            <div class="input-field col s8">
                <i class="material-icons prefix">format_list_numbered</i>
                @Html.EditorFor(model => model.IdCliente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.IdCliente, htmlAttributes: new { @class = "active" })
            </div>
        </div>

        <div class="row ">
            <div class="input-field col s8">
                <i class="material-icons prefix">face</i>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "active" })
            </div>
        </div>

        <div class="row ">
            <div class="input-field col s8">
                <i class="material-icons prefix">phone</i>
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "active" })
            </div>
        </div>

        <div class="row center-align">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Cadastrar
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
